.navbar-custom {
    background-color: #ffaf40;
}
.acolor{
	color:black;
}
.hcolor{
	color:#786fa6;
}
.login{
	 margin-top:50px;
}
.error{
	color:red;
}
.body {
	height :100 %; 
    background-color: green;
}